# Pandas

In [3]:
import pandas as pd

In [4]:
pd.__version__

'0.23.4'

# Data Frame

In [5]:
oo = pd.read_csv('olympics.csv', skiprows=4)
# oo

In [6]:
type(oo)

pandas.core.frame.DataFrame

# Series

In [ ]:
# oo.head()

In [ ]:
oo.Discipline

oo['Discipline']

df =  pd.read_csv('olympics - Copy.csv', skiprows=4)

# df.head()

In [ ]:
# a = ['Discipline', 'Sport']

# oo[['Discipline', 'Sport']]

# Practise
### Get only the NOC column using both the ['..'] and dot notation. What type is this object?

In [8]:
oo['NOC']

oo.NOC

0        HUN
1        AUT
2        GRE
3        GRE
4        GRE
5        GRE
6        HUN
7        GRE
8        GRE
9        AUT
10       GRE
11       USA
12       HUN
13       USA
14       GER
15       USA
16       GBR
17       FRA
18       AUS
19       USA
20       GBR
21       USA
22       USA
23       GRE
24       AUS
25       HUN
26       GRE
27       USA
28       GRE
29       USA
        ...
29186    KAZ
29187    UZB
29188    RUS
29189    ARM
29190    KOR
29191    RUS
29192    AZE
29193    KAZ
29194    KGZ
29195    RUS
29196    AZE
29197    BLR
29198    UKR
29199    FRA
29200    KGZ
29201    FRA
29202    BUL
29203    GEO
29204    CHN
29205    TUR
29206    ITA
29207    HUN
29208    KAZ
29209    USA
29210    RUS
29211    GER
29212    LTU
29213    ARM
29214    CUB
29215    RUS
Name: NOC, Length: 29216, dtype: object

In [ ]:
type(oo['NOC'])

### Get the Edition, City, Athlete Name and Medal columns. What type is this object?

In [9]:
oo[['Discipline', 'Sport']]

# type(oo[['Discipline', 'Sport']])

            Discipline      Sport
0             Swimming   Aquatics
1             Swimming   Aquatics
2             Swimming   Aquatics
3             Swimming   Aquatics
4             Swimming   Aquatics
5             Swimming   Aquatics
6             Swimming   Aquatics
7             Swimming   Aquatics
8             Swimming   Aquatics
9             Swimming   Aquatics
10            Swimming   Aquatics
11           Athletics  Athletics
12           Athletics  Athletics
13           Athletics  Athletics
14           Athletics  Athletics
15           Athletics  Athletics
16           Athletics  Athletics
17           Athletics  Athletics
18           Athletics  Athletics
19           Athletics  Athletics
20           Athletics  Athletics
21           Athletics  Athletics
22           Athletics  Athletics
23           Athletics  Athletics
24           Athletics  Athletics
25           Athletics  Athletics
26           Athletics  Athletics
27           Athletics  Athletics
28           Athletics  Athletics
29           Athletics  Athletics
...                ...        ...
29186  Wrestling Free.  Wrestling
29187  Wrestling Free.  Wrestling
29188  Wrestling Free.  Wrestling
29189  Wrestling Gre-R  Wrestling
29190  Wrestling Gre-R  Wrestling
29191  Wrestling Gre-R  Wrestling
29192  Wrestling Gre-R  Wrestling
29193  Wrestling Gre-R  Wrestling
29194  Wrestling Gre-R  Wrestling
29195  Wrestling Gre-R  Wrestling
29196  Wrestling Gre-R  Wrestling
29197  Wrestling Gre-R  Wrestling
29198  Wrestling Gre-R  Wrestling
29199  Wrestling Gre-R  Wrestling
29200  Wrestling Gre-R  Wrestling
29201  Wrestling Gre-R  Wrestling
29202  Wrestling Gre-R  Wrestling
29203  Wrestling Gre-R  Wrestling
29204  Wrestling Gre-R  Wrestling
29205  Wrestling Gre-R  Wrestling
29206  Wrestling Gre-R  Wrestling
29207  Wrestling Gre-R  Wrestling
29208  Wrestling Gre-R  Wrestling
29209  Wrestling Gre-R  Wrestling
29210  Wrestling Gre-R  Wrestling
29211  Wrestling Gre-R  Wrestling
29212  Wrestling Gre-R  Wrestling
29213  Wrestling Gre-R  Wrestling
29214  Wrestling Gre-R  Wrestling
29215  Wrestling Gre-R  Wrestling

[29216 rows x 2 columns]

# Data input

In [10]:
dt = {'Name' : ['Karim', 'Rahim', 'Modu'],
      'Age' : [20,30,40]}

dt['Age']

[20, 30, 40]

In [11]:
df = pd.DataFrame(dt)
df

    Name  Age
0  Karim   20
1  Rahim   30
2   Modu   40

In [12]:
df['Salary'] = [12000, 30000, 40000]

df

    Name  Age  Salary
0  Karim   20   12000
1  Rahim   30   30000
2   Modu   40   40000

In [13]:
oo = pd.read_csv('olympics.csv', skiprows = 4)

# oo

## Overview and validation of data
### Shape

In [14]:
oo.shape

(29216, 10)

In [15]:
oo.shape[1]

10

### head() and tail()

In [16]:
oo.head(10)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
5,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200m freestyle,M,Bronze
6,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
7,Athens,1896,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver
8,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400m freestyle,M,Bronze
9,Athens,1896,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400m freestyle,M,Gold

In [17]:
oo.tail(10)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
29206,Beijing,2008,Wrestling,Wrestling Gre-R,"MINGUZZI, Andrea",ITA,Men,74 - 84kg,M,Gold
29207,Beijing,2008,Wrestling,Wrestling Gre-R,"FODOR, Zoltan",HUN,Men,74 - 84kg,M,Silver
29208,Beijing,2008,Wrestling,Wrestling Gre-R,"MAMBETOV, Asset",KAZ,Men,84 - 96kg,M,Bronze
29209,Beijing,2008,Wrestling,Wrestling Gre-R,"WHEELER, Adam",USA,Men,84 - 96kg,M,Bronze
29210,Beijing,2008,Wrestling,Wrestling Gre-R,"KHUSHTOV, Aslanbek",RUS,Men,84 - 96kg,M,Gold
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

### info()

In [18]:
oo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29216 entries, 0 to 29215
Data columns (total 10 columns):
City            29216 non-null object
Edition         29216 non-null int64
Sport           29216 non-null object
Discipline      29216 non-null object
Athlete         29216 non-null object
NOC             29216 non-null object
Gender          29216 non-null object
Event           29216 non-null object
Event_gender    29216 non-null object
Medal           29216 non-null object
dtypes: int64(1), object(9)
memory usage: 2.2+ MB

# Basic Analysis
### value_counts()

#### Find how many medals have been given each year ?

In [19]:
oo['Edition'].value_counts()

2008    2042
2000    2015
2004    1998
1996    1859
1992    1705
1988    1546
1984    1459
1980    1387
1976    1305
1920    1298
1972    1185
1968    1031
1964    1010
1952     889
1912     885
1956     885
1924     884
1960     882
1936     875
1948     814
1908     804
1928     710
1932     615
1900     512
1904     470
1896     151
Name: Edition, dtype: int64

In [20]:
oo['Edition'].value_counts(ascending=True)

1896     151
1904     470
1900     512
1932     615
1928     710
1908     804
1948     814
1936     875
1960     882
1924     884
1956     885
1912     885
1952     889
1964    1010
1968    1031
1972    1185
1920    1298
1976    1305
1980    1387
1984    1459
1988    1546
1992    1705
1996    1859
2004    1998
2000    2015
2008    2042
Name: Edition, dtype: int64

#### In the history of olympics how many medals have been given to men and women?

In [21]:
oo['Gender'].value_counts()

Men      21721
Women     7495
Name: Gender, dtype: int64

### sort_values()
#### Generate a series of athlete's name and sort them by their name.

In [22]:
oo['Athlete'].sort_values()

# oo['Athlete'].sort_values(ascending=False)

651                    AABYE, Edgar
2849          AALTONEN, Arvo Ossian
2852          AALTONEN, Arvo Ossian
7716       AALTONEN, Paavo Johannes
7730       AALTONEN, Paavo Johannes
7773       AALTONEN, Paavo Johannes
7709       AALTONEN, Paavo Johannes
8563       AALTONEN, Paavo Johannes
28460              AAMODT, Ragnhild
3436               AANING, Alf Lied
19062         AARDENBURG, Willemien
22769             AARDEWIJN, Pepijn
22267          AARONES, Ann Kristin
3437                  AAS, Karl Jan
2601           AAS, Thomas Valentin
28134              ABAJO, Jose Luis
27691              ABAKUMOVA, Maria
27983           ABALMASAU, Aliaksei
28417                    ABALO, Luc
24202         ABANDA ETONG, Patrice
21538            ABARCA, Jose Maria
27125                 ABAS, Stephen
16390     ABASCAL GARCIA, Alejandro
16806    ABASCAL GOMEZ, Jose Manuel
26049             ABASSOVA, Tamilla
28418                   ABATI, Joel
20477                   ABAY, Peter
6380             ABAY-NEMES, Oszkar
7003                  ABBA, Silvano
24757           ABBAGNALE, Agostino
                    ...
10948                ZYBINA, Galina
9128                 ZYBINA, Galina
8235                 ZYBINA, Galina
15817                ZYCH, Boguslaw
23611                ZYKINA, Olesya
25639                ZYKINA, Olesya
10596              ZÄHRINGER, Klaus
19282               ZÜHLKE, Steffen
18534                ZÜLOW, Andreas
1138                 ZÜRNER, Albert
1939                 ZÜRNER, Albert
15711           ÖRSTED, Hans-Henrik
2691                ÖRTEGREN, Ruben
3745                    ÖRVIG, Erik
3746                    ÖRVIG, Olav
3747                    ÖRVIG, Thor
3868                ÖSTENSEN, Östen
4009                ÖSTENSEN, Östen
3870                ÖSTENSEN, Östen
2730                ÖSTENSEN, Östen
3942                ÖSTENSEN, Östen
3737              ÖSTERVOLD, Henrik
3738           ÖSTERVOLD, Jan Olsen
3739      ÖSTERVOLD, Kristian Olsen
3740           ÖSTERVOLD, Ole Olsen
603                      ÖSTMO, Ole
608                      ÖSTMO, Ole
621                      ÖSTMO, Ole
596                      ÖSTMO, Ole
8051              ÖSTRAND, Per-Olof
Name: Athlete, Length: 29216, dtype: object

In [23]:
pd.Series(oo['Athlete'].unique()).sort_values()

498                    AABYE, Edgar
2203          AALTONEN, Arvo Ossian
5897       AALTONEN, Paavo Johannes
20863              AAMODT, Ragnhild
2610               AANING, Alf Lied
14239         AARDENBURG, Willemien
16958             AARDEWIJN, Pepijn
16576          AARONES, Ann Kristin
2611                  AAS, Karl Jan
2057           AAS, Thomas Valentin
20624              ABAJO, Jose Luis
20309              ABAKUMOVA, Maria
20526           ABALMASAU, Aliaksei
20824                    ABALO, Luc
17936         ABANDA ETONG, Patrice
16054            ABARCA, Jose Maria
19950                 ABAS, Stephen
12150     ABASCAL GARCIA, Alejandro
12479    ABASCAL GOMEZ, Jose Manuel
19177             ABASSOVA, Tamilla
20825                   ABATI, Joel
15284                   ABAY, Peter
4826             ABAY-NEMES, Oszkar
5316                  ABBA, Silvano
14402           ABBAGNALE, Agostino
13271            ABBAGNALE, Carmine
13272           ABBAGNALE, Giuseppe
20890                   ABBOTT, Des
302           ABBOTT, Margaret Ives
21192                ABBOTT, Monica
                    ...
15789              ZVEREVA, Natalya
19587              ZVIADAURI, Zurab
21248               ZVONAREVA, Vera
10768           ZVYAGINTSEV, Viktor
19537                  ZWEHL, Julia
3737                 ZWERINA, Anton
18667           ZWERING, Klaas-Erik
15826               ZWERVER, Ronald
16865               ZWIERS, Claudia
11446          ZWOLINSKI, Krzysztof
15603           ZWOLLE, Hendrik Jan
6320                 ZYBINA, Galina
11728                ZYCH, Boguslaw
17529                ZYKINA, Olesya
8006               ZÄHRINGER, Klaus
14401               ZÜHLKE, Steffen
13865                ZÜLOW, Andreas
825                  ZÜRNER, Albert
11641           ÖRSTED, Hans-Henrik
2100                ÖRTEGREN, Ruben
2901                    ÖRVIG, Erik
2902                    ÖRVIG, Olav
2903                    ÖRVIG, Thor
2126                ÖSTENSEN, Östen
2893              ÖSTERVOLD, Henrik
2894           ÖSTERVOLD, Jan Olsen
2895      ÖSTERVOLD, Kristian Olsen
2896           ÖSTERVOLD, Ole Olsen
468                      ÖSTMO, Ole
6194              ÖSTRAND, Per-Olof
Length: 21413, dtype: object

In [24]:
oo['Athlete'].value_counts()

LATYNINA, Larisa              18
PHELPS, Michael               16
ANDRIANOV, Nikolay            15
MANGIAROTTI, Edoardo          13
SHAKHLIN, Boris               13
ONO, Takashi                  13
THOMPSON, Jenny               12
NEMOV, Alexei                 12
KATO, Sawao                   12
TORRES, Dara                  12
FISCHER, Birgit               12
NURMI, Paavo                  12
CHUKARIN, Viktor Ivanovich    11
SPITZ, Mark                   11
COUGHLIN, Natalie             11
OSBURN, Carl Townsend         11
BIONDI, Matthew               11
CASLAVSKA, Vera               11
KELETI, Agnes                 10
LEWIS, Carl                   10
NAKAYAMA, Akinori             10
GEREVICH, Aladar              10
HALL, Gary Jr.                10
ASTAKHOVA, Polina             10
DITYATIN, Aleksandr           10
VAN ALMSICK, Franziska        10
SCHERBO, Vitaly               10
SAVOLAINEN, Heikki             9
THORPE, Ian                    9
KENMOTSU, Eizo                 9
                              ..
FORD, Alan Robert              1
HUBBARD, William De Hart       1
BANDINELLI, Spartaco           1
COLLETT, Wayne Curtis          1
HASLAM, Harry Eustace          1
BRAUN, Max                     1
NEBALD, Rudolf                 1
BAILEY, Aleen                  1
MUSSO, Francesco               1
WOELLKE, Hans                  1
HEATLEY, Benjamin Basil        1
VIRTANEN, Reima Valdemar       1
MARTINEZ DESPAIGNE, Lazaro     1
HORNBERGER, Gerd               1
AUGUSTIN, Ludovic              1
BENNETT, Todd Anthony          1
STETSENKO, Yuri                1
KEVLIAN, Valentina             1
SMITH, Charles Edward Iv       1
KU, Kuo-Chian                  1
DAUMAIN, .....                 1
MARVIN, John                   1
LINNA, Edvard                  1
ZIOLKOWSKI, Szymon             1
RANCH, John                    1
MULAUDZI, Mbulaeni             1
MILCHEV, Mykola                1
SMABERS, Hanneke               1
RAMSEIER, Daniel               1
MARSHALL, Stephen              1
Name: Athlete, Length: 21413, dtype: int64

#### Sort the whole data frame by year of perticipation and athlete's name.

In [25]:
# oo.head()

oo.sort_values(by = ['Edition', 'Athlete'] )

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
7,Athens,1896,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver
82,Athens,1896,Gymnastics,Artistic G.,"ANDRIAKOPOULOS, Nicolaos",GRE,Men,rope climbing,M,Gold
110,Athens,1896,Gymnastics,Artistic G.,"ANDRIAKOPOULOS, Nicolaos",GRE,Men,"team, parallel bars",M,Silver
111,Athens,1896,Gymnastics,Artistic G.,"ATHANASOPOULOS, Spyros",GRE,Men,"team, parallel bars",M,Silver
48,Athens,1896,Cycling,Cycling Road,"BATTEL, Edward",GBR,Men,individual road race,M,Bronze
19,Athens,1896,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500m,M,Silver
134,Athens,1896,Tennis,Tennis,"BOLAND, John",ZZX,Men,doubles,M,Gold
140,Athens,1896,Tennis,Tennis,"BOLAND, John",GBR,Men,singles,M,Gold
13,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
21,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,400m,M,Gold
84,Athens,1896,Gymnastics,Artistic G.,"BÖCKER, Konrad",GER,Men,"team, horizontal bar",M,Gold
99,Athens,1896,Gymnastics,Artistic G.,"BÖCKER, Konrad",GER,Men,"team, parallel bars",M,Gold
66,Athens,1896,Fencing,Fencing,"CALLOT, Henri",FRA,Men,foil individual,M,Silver
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
5,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200m freestyle,M,Bronze
8,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400m freestyle,M,Bronze
148,Athens,1896,Wrestling,Wrestling Gre-R,"CHRISTOPOULOS, Stephanos",GRE,Men,open event,M,Bronze
95,Athens,1896,Gymnastics,Artistic G.,"CHRYSAPHIS, Ioannis",GRE,Men,"team, parallel bars",M,Bronze
29,Athens,1896,Athletics,Athletics,"CLARK, Ellery",USA,Men,high jump,M,Gold
33,Athens,1896,Athletics,Athletics,"CLARK, Ellery",USA,Men,long jump,M,Gold
30,Athens,1896,Athletics,Athletics,"CONNOLLY, James",USA,Men,high jump,M,Silver
32,Athens,1896,Athletics,Athletics,"CONNOLLY, James",USA,Men,long jump,M,Bronze
46,Athens,1896,Athletics,Athletics,"CONNOLLY, James",USA,Men,triple jump,M,Gold
15,Athens,1896,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110m hurdles,M,Gold
38,Athens,1896,Athletics,Athletics,"DAMASKOS, Evangelos",GRE,Men,pole vault,M,Bronze
25,Athens,1896,Athletics,Athletics,"DANI, Nandor",HUN,Men,800m,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
143,Athens,1896,Weightlifting,Weightlifting,"ELLIOTT, Launceston",GBR,Men,heavyweight - one hand lift,M,Gold
147,Athens,1896,Weightlifting,Weightlifting,"ELLIOTT, Launceston",GBR,Men,heavyweight - two hand lift,M,Silver
18,Athens,1896,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500m,M,Gold
...,...,...,...,...,...,...,...,...,...,...
28583,Beijing,2008,Hockey,Hockey,"ZHANG, Yimeng",CHN,Women,hockey,W,Silver
28940,Beijing,2008,Table Tennis,Table Tennis,"ZHANG, Yining",CHN,Women,singles,W,Gold
28956,Beijing,2008,Table Tennis,Table Tennis,"ZHANG, Yining",CHN,Women,team,W,Gold
27893,Beijing,2008,Boxing,Boxing,"ZHANG, Zhilei",CHN,Men,+ 91kg (super heavyweight),M,Silver
27340,Beijing,2008,Aquatics,Swimming,"ZHAO, Jing",CHN,Women,4x100m medley relay,W,Bronze
29074,Beijing,2008,Volleyball,Volleyball,"ZHAO, Ruirui",CHN,Women,volleyball,W,Bronze
28584,Beijing,2008,Hockey,Hockey,"ZHAO, Yudiao",CHN,Women,hockey,W,Silver
28999,Beijing,2008,Tennis,Tennis,"ZHENG, Jie",CHN,Women,doubles,W,Bronze
28641,Beijing,2008,Judo,Judo,"ZHITKEYEV, Askhat",KAZ,Men,90 - 100kg (half-heavyweight),M,Silver
28169,Beijing,2008,Fencing,Fencing,"ZHONG, Man",CHN,Men,sabre individual,M,Gold
27701,Beijing,2008,Athletics,Athletics,"ZHOU, Chunxiu",CHN,Women,marathon,W,Bronze
27176,Beijing,2008,Aquatics,Diving,"ZHOU, Luxin",CHN,Men,10m platform,M,Silver
29075,Beijing,2008,Volleyball,Volleyball,"ZHOU, Suhong",CHN,Women,volleyball,W,Bronze
28585,Beijing,2008,Hockey,Hockey,"ZHOU, Wanfeng",CHN,Women,hockey,W,Silver
27341,Beijing,2008,Aquatics,Swimming,"ZHOU, Yafei",CHN,Women,4x100m medley relay,W,Bronze
28191,Beijing,2008,Fencing,Fencing,"ZHOVNIR, Olha",UKR,Women,sabre team,W,Gold
28989,Beijing,2008,Taekwondo,Taekwondo,"ZHU, Guo",CHN,Men,68 - 80 kg,M,Bronze
27394,Beijing,2008,Aquatics,Swimming,"ZHU, Qianwei",CHN,Women,4x200m freestyle relay,W,Silver
28857,Beijing,2008,Shooting,Shooting,"ZHU, Qinan",CHN,Men,10m air rifle (60 shots),M,Silver
28396,Beijing,2008,Gymnastics,Rhythmic G.,"ZHUKOVA, Inna",BLR,Women,individual all-round,W,Silver
29172,Beijing,2008,Wrestling,Wrestling Free.,"ZLATEVA, Stanka",BUL,Women,63 - 72kg,W,Silver
28308,Beijing,2008,Gymnastics,Artistic G.,"ZOU, Kai",CHN,Men,floor exercises,M,Gold
28314,Beijing,2008,Gymnastics,Artistic G.,"ZOU, Kai",CHN,Men,horizontal bar,M,Gold
28342,Beijing,2008,Gymnastics,Artistic G.,"ZOU, Kai",CHN,Men,team competition,M,Gold
27900,Beijing,2008,Boxing,Boxing,"ZOU, Shiming",CHN,Men,48kg (light flywieght),M,Gold
28095,Beijing,2008,Equestrian,Dressage,"ZU-SAYN WITTGENSTEIN, Nathalie",DEN,Women,team,X,Bronze
28819,Beijing,2008,Sailing,Sailing,"ZUBARI, Shahar",ISR,Men,RS:X - Windsurfer,M,Bronze
28977,Beijing,2008,Taekwondo,Taekwondo,"ZUBCIC, Martina",CRO,Women,49 - 57 kg,W,Bronze
28387,Beijing,2008,Gymnastics,Rhythmic G.,"ZUEVA, Natalia",RUS,Women,group competition,W,Gold
29007,Beijing,2008,Tennis,Tennis,"ZVONAREVA, Vera",RUS,Women,singles,W,Bronze

### Filtering DataFrame by Boolean indexing

#### Find all Athlete's records who have won gold medals.

In [26]:
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [27]:
oo[ oo['Medal'] == 'Gold' ]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
6,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
9,Athens,1896,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400m freestyle,M,Gold
13,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
15,Athens,1896,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110m hurdles,M,Gold
18,Athens,1896,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500m,M,Gold
21,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,400m,M,Gold
24,Athens,1896,Athletics,Athletics,"FLACK, Edwin",AUS,Men,800m,M,Gold
27,Athens,1896,Athletics,Athletics,"GARRETT, Robert",USA,Men,discus throw,M,Gold
29,Athens,1896,Athletics,Athletics,"CLARK, Ellery",USA,Men,high jump,M,Gold
33,Athens,1896,Athletics,Athletics,"CLARK, Ellery",USA,Men,long jump,M,Gold
36,Athens,1896,Athletics,Athletics,"LOUIS, Spyridon",GRE,Men,marathon,M,Gold
40,Athens,1896,Athletics,Athletics,"HOYT, William Welles",USA,Men,pole vault,M,Gold
43,Athens,1896,Athletics,Athletics,"GARRETT, Robert",USA,Men,shot put,M,Gold
46,Athens,1896,Athletics,Athletics,"CONNOLLY, James",USA,Men,triple jump,M,Gold
49,Athens,1896,Cycling,Cycling Road,"KONSTANTINIDIS, Aristidis",GRE,Men,individual road race,M,Gold
51,Athens,1896,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold
54,Athens,1896,Cycling,Cycling Track,"MASSON, Paul",FRA,Men,10km,M,Gold
56,Athens,1896,Cycling,Cycling Track,"SCHMAL, Adolf",AUT,Men,12-hour race,M,Gold
59,Athens,1896,Cycling,Cycling Track,"MASSON, Paul",FRA,Men,1km time trial,M,Gold
62,Athens,1896,Cycling,Cycling Track,"MASSON, Paul",FRA,Men,Sprint indivual,M,Gold
65,Athens,1896,Fencing,Fencing,"GRAVELOTTE, Eugène-Henri",FRA,Men,foil individual,M,Gold
67,Athens,1896,Fencing,Fencing,"PYRGOS, Leonidas",GRE,Men,"foil, masters",M,Gold
70,Athens,1896,Fencing,Fencing,"GEORGIADIS, Ioannis",GRE,Men,sabre individual,M,Gold
72,Athens,1896,Gymnastics,Artistic G.,"WEINGÄRTNER, Hermann",GER,Men,horizontal bar,M,Gold
74,Athens,1896,Gymnastics,Artistic G.,"FLATOW, Alfred",GER,Men,parallel bars,M,Gold
76,Athens,1896,Gymnastics,Artistic G.,"ZUTTER, Louis",SUI,Men,pommel horse,M,Gold
79,Athens,1896,Gymnastics,Artistic G.,"MITROPOULOS, Ioannis",GRE,Men,rings,M,Gold
82,Athens,1896,Gymnastics,Artistic G.,"ANDRIAKOPOULOS, Nicolaos",GRE,Men,rope climbing,M,Gold
...,...,...,...,...,...,...,...,...,...,...
29110,Beijing,2008,Weightlifting,Weightlifting,"ARAMNAU, Andrei",BLR,Men,105kg,M,Gold
29113,Beijing,2008,Weightlifting,Weightlifting,"CHEN, Xiexia",CHN,Women,48kg,W,Gold
29116,Beijing,2008,Weightlifting,Weightlifting,"JAROENRATTANATARAKOON, Prapawadee",THA,Women,53kg,W,Gold
29119,Beijing,2008,Weightlifting,Weightlifting,"CHEN, Yanqing",CHN,Women,58kg,W,Gold
29122,Beijing,2008,Weightlifting,Weightlifting,"ZHANG, Xiangxiang",CHN,Men,62kg,M,Gold
29125,Beijing,2008,Weightlifting,Weightlifting,"PAK, Hyon Suk",PRK,Women,63kg,W,Gold
29128,Beijing,2008,Weightlifting,Weightlifting,"LIAO, Hui",CHN,Men,69kg,M,Gold
29131,Beijing,2008,Weightlifting,Weightlifting,"LIU, Chunhong",CHN,Women,69kg,W,Gold
29134,Beijing,2008,Weightlifting,Weightlifting,"CAO, Lei",CHN,Women,75kg,W,Gold
29137,Beijing,2008,Weightlifting,Weightlifting,"SA, Jaehyouk",KOR,Men,77kg,M,Gold
29140,Beijing,2008,Weightlifting,Weightlifting,"LU, Yong",CHN,Men,85kg,M,Gold
29143,Beijing,2008,Weightlifting,Weightlifting,"ILIN, Ilya",KAZ,Men,94kg,M,Gold
29147,Beijing,2008,Wrestling,Wrestling Free.,"HUYNH, Carol",CAN,Women,- 48kg,W,Gold
29151,Beijing,2008,Wrestling,Wrestling Free.,"CEJUDO, Henry",USA,Men,- 55kg,M,Gold
29155,Beijing,2008,Wrestling,Wrestling Free.,"YOSHIDA, Saori",JPN,Women,48 - 55kg,W,Gold
29159,Beijing,2008,Wrestling,Wrestling Free.,"BATIROV, Mavlet",RUS,Men,55 - 60kg,M,Gold
29163,Beijing,2008,Wrestling,Wrestling Free.,"ICHO, Kaori",JPN,Women,55 - 63kg,W,Gold
29167,Beijing,2008,Wrestling,Wrestling Free.,"SAHIN, Ramazan",TUR,Men,60 - 66kg,M,Gold
29171,Beijing,2008,Wrestling,Wrestling Free.,"WANG, Jiao",CHN,Women,63 - 72kg,W,Gold
29175,Beijing,2008,Wrestling,Wrestling Free.,"SAYTIEV, Buvaysa",RUS,Men,66 - 74kg,M,Gold
29179,Beijing,2008,Wrestling,Wrestling Free.,"MINDORASHVILI, Revazi",GEO,Men,74 - 84kg,M,Gold
29183,Beijing,2008,Wrestling,Wrestling Free.,"MURADOV, Shirvani",RUS,Men,84 - 96kg,M,Gold
29187,Beijing,2008,Wrestling,Wrestling Free.,"TAYMAZOV, Artur",UZB,Men,96 - 120kg,M,Gold
29191,Beijing,2008,Wrestling,Wrestling Gre-R,"MANKIEV, Nazyr",RUS,Men,- 55kg,M,Gold
29195,Beijing,2008,Wrestling,Wrestling Gre-R,"ALBIEV, Islam-Beka",RUS,Men,55 - 60kg,M,Gold
29199,Beijing,2008,Wrestling,Wrestling Gre-R,"GUENOT, Steeve",FRA,Men,60 - 66kg,M,Gold
29203,Beijing,2008,Wrestling,Wrestling Gre-R,"KVIRKELIA, Manuchar",GEO,Men,66 - 74kg,M,Gold
29206,Beijing,2008,Wrestling,Wrestling Gre-R,"MINGUZZI, Andrea",ITA,Men,74 - 84kg,M,Gold
29210,Beijing,2008,Wrestling,Wrestling Gre-R,"KHUSHTOV, Aslanbek",RUS,Men,84 - 96kg,M,Gold
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold

#### Find all women Athlete's records who have won silver medals.

In [28]:
# and or >= <=

# &  |  == >= <=


    

oo[ (oo['Medal'] == 'Silver')  &   (oo['Gender'] == 'Women') ]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
418,Paris,1900,Golf,Golf,"WHITTIER, Pauline",USA,Women,individual,W,Silver
642,Paris,1900,Tennis,Tennis,"PREVOST, Hélène",ZZX,Women,mixed doubles,X,Silver
650,Paris,1900,Tennis,Tennis,"PREVOST, Hélène",FRA,Women,singles,W,Silver
711,St Louis,1904,Archery,Archery,"COOKE, Emma C.",USA,Women,double columbia round (50y - 40y - 30y),W,Silver
714,St Louis,1904,Archery,Archery,"COOKE, Emma C.",USA,Women,double national round (60y - 50y),W,Silver
734,St Louis,1904,Archery,Archery,"COOKE, Emma C.",USA,Women,teams FITA round,W,Silver
735,St Louis,1904,Archery,Archery,"TAYLOR, Mabel",USA,Women,teams FITA round,W,Silver
1186,London,1908,Archery,Archery,"DOD, Charlotte",GBR,Women,national round (60y - 50y),W,Silver
1844,London,1908,Skating,Figure skating,"RENDSCHMIDT, Else",GER,Women,individual,W,Silver
1850,London,1908,Skating,Figure skating,"JOHNSON, Phyllis",GBR,Women,pairs,X,Silver
1871,London,1908,Tennis,Tennis,"BOOTHBY, Penelope Dora Harvey",GBR,Women,singles,W,Silver
1877,London,1908,Tennis,Tennis,"GREENE, Angela Nora G.",GBR,Women,singles indoor,W,Silver
1942,Stockholm,1912,Aquatics,Diving,"REGNELL, Lisa",SWE,Women,10m platform,W,Silver
1957,Stockholm,1912,Aquatics,Swimming,"WYLIE, Wilhelmina",ANZ,Women,100m freestyle,W,Silver
1978,Stockholm,1912,Aquatics,Swimming,"DRESSEL, Wally",GER,Women,4x100m freestyle relay,W,Silver
1979,Stockholm,1912,Aquatics,Swimming,"OTTO, Louise",GER,Women,4x100m freestyle relay,W,Silver
1980,Stockholm,1912,Aquatics,Swimming,"ROSENBERG, Grete",GER,Women,4x100m freestyle relay,W,Silver
1981,Stockholm,1912,Aquatics,Swimming,"STINDT, Hermine",GER,Women,4x100m freestyle relay,W,Silver
2772,Stockholm,1912,Tennis,Tennis,"FICK, Sigrid",SWE,Women,mixed doubles,X,Silver
2778,Stockholm,1912,Tennis,Tennis,"AITCHISON, Francis Helen",GBR,Women,mixed doubles indoor,X,Silver
2784,Stockholm,1912,Tennis,Tennis,"KÖRING, Dora",GER,Women,singles,W,Silver
2790,Stockholm,1912,Tennis,Tennis,"CASTENSCHIOLD, Thora Gerda Sophie",DEN,Women,singles indoor,W,Silver
2827,Antwerp,1920,Aquatics,Diving,"ARMSTRONG, Beatrix Eileen",GBR,Women,10m platform,W,Silver
2833,Antwerp,1920,Aquatics,Diving,"WAINWRIGHT, Helen",USA,Women,3m springboard,W,Silver
2845,Antwerp,1920,Aquatics,Swimming,"GUEST, Irene",USA,Women,100m freestyle,W,Silver
2860,Antwerp,1920,Aquatics,Swimming,"WOODBRIDGE, Margaret",USA,Women,400m freestyle,W,Silver
2869,Antwerp,1920,Aquatics,Swimming,"JAMES, Hilda",GBR,Women,4x100m freestyle relay,W,Silver
2870,Antwerp,1920,Aquatics,Swimming,"JEANS, Constance Mabel",GBR,Women,4x100m freestyle relay,W,Silver
2871,Antwerp,1920,Aquatics,Swimming,"MAC KENZIE, Grace",GBR,Women,4x100m freestyle relay,W,Silver
2872,Antwerp,1920,Aquatics,Swimming,"RADCLIFFE, Charlotte",GBR,Women,4x100m freestyle relay,W,Silver
...,...,...,...,...,...,...,...,...,...,...
28983,Beijing,2008,Taekwondo,Taekwondo,"SERGERIE, Karine",CAN,Women,57 - 67 kg,W,Silver
29002,Beijing,2008,Tennis,Tennis,"MEDINA GARRIGUES, Anabel",ESP,Women,doubles,W,Silver
29003,Beijing,2008,Tennis,Tennis,"RUANO PASCUAL, Virginia",ESP,Women,doubles,W,Silver
29009,Beijing,2008,Tennis,Tennis,"SAFINA, Dinara",RUS,Women,singles,W,Silver
29015,Beijing,2008,Triathlon,Triathlon,"FERNANDES, Vanessa",POR,Women,Individual,W,Silver
29026,Beijing,2008,Volleyball,Beach volley.,"TIAN, Jia",CHN,Women,beach volleyball,W,Silver
29027,Beijing,2008,Volleyball,Beach volley.,"WANG, Jie",CHN,Women,beach volleyball,W,Silver
29088,Beijing,2008,Volleyball,Volleyball,"AH MOW-SANTOS, Robyn",USA,Women,volleyball,W,Silver
29089,Beijing,2008,Volleyball,Volleyball,"BERG, Lindsey",USA,Women,volleyball,W,Silver
29090,Beijing,2008,Volleyball,Volleyball,"BOWN, Heather",USA,Women,volleyball,W,Silver
29091,Beijing,2008,Volleyball,Volleyball,"DAVIS, Nicole",USA,Women,volleyball,W,Silver
29092,Beijing,2008,Volleyball,Volleyball,"GLASS, Kimberly",USA,Women,volleyball,W,Silver
29093,Beijing,2008,Volleyball,Volleyball,"HANEEF-PARK, Tayyiba",USA,Women,volleyball,W,Silver
29094,Beijing,2008,Volleyball,Volleyball,"JOINES, Jennifer",USA,Women,volleyball,W,Silver
29095,Beijing,2008,Volleyball,Volleyball,"NNAMANI, Ogonna",USA,Women,volleyball,W,Silver
29096,Beijing,2008,Volleyball,Volleyball,"SCOTT-ARRUDA, Danielle",USA,Women,volleyball,W,Silver
29097,Beijing,2008,Volleyball,Volleyball,"SYKORA, Stacy",USA,Women,volleyball,W,Silver
29098,Beijing,2008,Volleyball,Volleyball,"TOM, Logan",USA,Women,volleyball,W,Silver
29099,Beijing,2008,Volleyball,Volleyball,"WILLOUGHBY, Kim",USA,Women,volleyball,W,Silver
29108,Beijing,2008,Weightlifting,Weightlifting,"KOROBKA, Olha",UKR,Women,+ 75kg,W,Silver
29114,Beijing,2008,Weightlifting,Weightlifting,"OZKAN, Sibel",TUR,Women,48kg,W,Silver
29117,Beijing,2008,Weightlifting,Weightlifting,"YOON, Jinhee",KOR,Women,53kg,W,Silver
29120,Beijing,2008,Weightlifting,Weightlifting,"SHAINOVA, Marina",RUS,Women,58kg,W,Silver
29126,Beijing,2008,Weightlifting,Weightlifting,"NEKRASSOVA, Irina",KAZ,Women,63kg,W,Silver
29132,Beijing,2008,Weightlifting,Weightlifting,"SLIVENKO, Oxana",RUS,Women,69kg,W,Silver
29135,Beijing,2008,Weightlifting,Weightlifting,"VAZHENINA, Alla",KAZ,Women,75kg,W,Silver
29148,Beijing,2008,Wrestling,Wrestling Free.,"ICHO, Chiharu",JPN,Women,- 48kg,W,Silver
29156,Beijing,2008,Wrestling,Wrestling Free.,"XU, Li",CHN,Women,48 - 55kg,W,Silver
29164,Beijing,2008,Wrestling,Wrestling Free.,"KARTASHOVA, Alena",RUS,Women,55 - 63kg,W,Silver
29172,Beijing,2008,Wrestling,Wrestling Free.,"ZLATEVA, Stanka",BUL,Women,63 - 72kg,W,Silver

#### Find all records of the femous USA's woman athlete named Florence.

In [29]:
oo[( oo['Athlete'].str.contains('Florence') )  &  (oo['Gender'] == 'Women')  &  (oo['NOC'] == 'USA')]

# oo[(oo['NOC'] == 'USA') & (oo['Gender'] == 'Women') & (oo['Athlete'].str.contains('Florence'))]

# oo[(oo['Athlete'].str.contains('lor'))]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
16817,Los Angeles,1984,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,200m,W,Silver
18287,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,100m,W,Gold
18305,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,200m,W,Gold
18347,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,4x100m relay,W,Gold
18374,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,4x400m relay,W,Silver

# Practise

#### Find all records of athlete named 'OWENS, Jesse' ?

In [30]:
oo [oo['Athlete'] == 'OWENS, Jesse' ]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
6427,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,100m,M,Gold
6439,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,200m,M,Gold
6456,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,4x100m relay,M,Gold
6523,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,long jump,M,Gold

#### Find all records of athletes who have won the men's gold medals in singles badminton over the history of Olympics? Sort the results alphabetically by the player's  names.

In [31]:
gmb = oo[ (oo['Gender'] == 'Men') &  (oo['Sport'] == 'Badminton') & (oo['Event'] == 'singles') & (oo['Medal'] == 'Gold') ]

gmb.sort_values(by = 'Athlete')

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
20045,Barcelona,1992,Badminton,Badminton,"BUDI KUSUMA, Alan",INA,Men,singles,M,Gold
25734,Athens,2004,Badminton,Badminton,"HIDAYAT, Taufik",INA,Men,singles,M,Gold
21787,Atlanta,1996,Badminton,Badminton,"HOYER-LARSEN, Poul Erik",DEN,Men,singles,M,Gold
23717,Sydney,2000,Badminton,Badminton,"JI, Xinpeng",CHN,Men,singles,M,Gold
27741,Beijing,2008,Badminton,Badminton,"LIN, Dan",CHN,Men,singles,M,Gold

#### Which three countries have won the most medals from 1984 to 2008 ?

In [32]:
 >= 1984       <=2008

SyntaxError: invalid syntax (<ipython-input-32-7bad5097f2e6>, line 1)

In [33]:
med = oo[(oo['Edition'] >= 1984)  &  (oo['Edition'] <= 2008)]

med['NOC'].value_counts(ascending = True).head(10)

BAR    1
ISV    1
MKD    1
AFG    1
UAE    1
ERI    1
DJI    1
PAN    1
KUW    1
SEN    1
Name: NOC, dtype: int64

#### Find all Records of the male gold medal winners for the 100m event over the history of olympics. List the results starting with the most recent. Show the Olympic City, Edition, Athlete and the country they represent.

In [34]:
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [35]:
a = oo[ (oo['Gender'] == 'Men') & (oo['Medal'] == 'Gold') & (oo['Event'] == '100m')]
b = a.sort_values(by = 'Edition', ascending = False)
b[['City', 'Edition', 'Athlete', 'NOC']]

                        City  Edition                Athlete  NOC
27552                Beijing     2008            BOLT, Usain  JAM
25539                 Athens     2004         GATLIN, Justin  USA
23521                 Sydney     2000        GREENE, Maurice  USA
21598                Atlanta     1996        BAILEY, Donovan  CAN
19859              Barcelona     1992      CHRISTIE, Linford  GBR
18284                  Seoul     1988            LEWIS, Carl  USA
16794            Los Angeles     1984            LEWIS, Carl  USA
15374                 Moscow     1980           WELLS, Allan  GBR
14069               Montreal     1976       CRAWFORD, Hasely  TRI
12902                 Munich     1972         BORZOV, Valery  URS
11865                 Mexico     1968       HINES, James Ray  USA
10823                  Tokyo     1964          HAYES, Robert  USA
9924                    Rome     1960            HARY, Armin  EUA
9009   Melbourne / Stockholm     1956  MORROW, Robert Joseph  USA
8121                Helsinki     1952        REMIGINO, Lindy  USA
7302                  London     1948      DILLARD, Harrison  USA
6427                  Berlin     1936           OWENS, Jesse  USA
5806             Los Angeles     1932           TOLAN, Eddie  USA
5095               Amsterdam     1928        WILLIAMS, Percy  CAN
4236                   Paris     1924       ABRAHAMS, Harold  GBR
2996                 Antwerp     1920       PADDOCK, Charles  USA
2022               Stockholm     1912           CRAIG, Ralph  USA
1191                  London     1908       WALKER, Reginald  RSA
737                 St Louis     1904           HAHN, Archie  USA
231                    Paris     1900        JARVIS, Francis  USA
13                    Athens     1896          BURKE, Thomas  USA

# Indexing

In [36]:
import pandas as pd

oo = pd.read_csv('olympics.csv',skiprows=4)
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

## Index

In [37]:
import numpy as np

df = pd.DataFrame(np.random.randn(5,4), index = 'A B C D E'.split(), columns = 'W X Y Z'.split())

df

          W         X         Y         Z
A -0.929665  1.382790  1.084814  0.177128
B  0.282829 -0.663612 -1.064247  0.185027
C -1.455153  0.976770  1.165378 -0.038445
D  0.641669  2.224603 -1.132310 -1.493086
E  0.430527 -1.442497  0.149363 -0.803881

## set_index()

## reset_index()

## sort_index()

## loc[...]

## iloc[...]

# Practise
#### Which countries did not win a medal in the 2008 Olympics? Use Both olympics and olympics countries data set

In [38]:
country = pd.read_csv('Olympics Countries.csv')

country.set_index("Int Olympic Committee code",inplace = True)

In [45]:
country.head()

                                    Country ISO code        Country.1
Int Olympic Committee code
AFG                             Afghanistan       AF      Afghanistan
ALB                                 Albania       AL          Albania
ALG                                 Algeria       DZ          Algeria
ASA                         American Samoa*       AS  American Samoa*
AND                                 Andorra       AD          Andorra

In [49]:
_2008 = oo[oo['Edition'] == 2008]

In [50]:
_2008

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
27174,Beijing,2008,Aquatics,Diving,"GALPERIN, Gleb",RUS,Men,10m platform,M,Bronze
27175,Beijing,2008,Aquatics,Diving,"MITCHAM, Matthew",AUS,Men,10m platform,M,Gold
27176,Beijing,2008,Aquatics,Diving,"ZHOU, Luxin",CHN,Men,10m platform,M,Silver
27177,Beijing,2008,Aquatics,Diving,"WANG, Xin",CHN,Women,10m platform,W,Bronze
27178,Beijing,2008,Aquatics,Diving,"CHEN, Ruolin",CHN,Women,10m platform,W,Gold
27179,Beijing,2008,Aquatics,Diving,"HEYMANS, Emilie",CAN,Women,10m platform,W,Silver
27180,Beijing,2008,Aquatics,Diving,"QIN, Kai",CHN,Men,3m springboard,M,Bronze
27181,Beijing,2008,Aquatics,Diving,"HE, Chong",CHN,Men,3m springboard,M,Gold
27182,Beijing,2008,Aquatics,Diving,"DESPATIE, Alexandre",CAN,Men,3m springboard,M,Silver
27183,Beijing,2008,Aquatics,Diving,"WU, Minxia",CHN,Women,3m springboard,W,Bronze
27184,Beijing,2008,Aquatics,Diving,"GUO, Jingjing",CHN,Women,3m springboard,W,Gold
27185,Beijing,2008,Aquatics,Diving,"PAKHALINA, Julia",RUS,Women,3m springboard,W,Silver
27186,Beijing,2008,Aquatics,Diving,"DOBROSKOK, Dmitriy",RUS,Men,synchronized diving 10m platform,M,Bronze
27187,Beijing,2008,Aquatics,Diving,"GALPERIN, Gleb",RUS,Men,synchronized diving 10m platform,M,Bronze
27188,Beijing,2008,Aquatics,Diving,"HUO, Liang",CHN,Men,synchronized diving 10m platform,M,Gold
27189,Beijing,2008,Aquatics,Diving,"LIN, Yue",CHN,Men,synchronized diving 10m platform,M,Gold
27190,Beijing,2008,Aquatics,Diving,"HAUSDING, Patrick",GER,Men,synchronized diving 10m platform,M,Silver
27191,Beijing,2008,Aquatics,Diving,"KLEIN, Sascha",GER,Men,synchronized diving 10m platform,M,Silver
27192,Beijing,2008,Aquatics,Diving,"ESPINOSA, Paola",MEX,Women,synchronized diving 10m platform,W,Bronze
27193,Beijing,2008,Aquatics,Diving,"ORTIZ, Tatiana",MEX,Women,synchronized diving 10m platform,W,Bronze
27194,Beijing,2008,Aquatics,Diving,"CHEN, Ruolin",CHN,Women,synchronized diving 10m platform,W,Gold
27195,Beijing,2008,Aquatics,Diving,"WANG, Xin",CHN,Women,synchronized diving 10m platform,W,Gold
27196,Beijing,2008,Aquatics,Diving,"COLE, Briony",AUS,Women,synchronized diving 10m platform,W,Silver
27197,Beijing,2008,Aquatics,Diving,"WU, Melissa",AUS,Women,synchronized diving 10m platform,W,Silver
27198,Beijing,2008,Aquatics,Diving,"KVASHA, Illya",UKR,Men,synchronized diving 3m springboard,M,Bronze
27199,Beijing,2008,Aquatics,Diving,"PRYGOROV, Oleksiy",UKR,Men,synchronized diving 3m springboard,M,Bronze
27200,Beijing,2008,Aquatics,Diving,"QIN, Kai",CHN,Men,synchronized diving 3m springboard,M,Gold
27201,Beijing,2008,Aquatics,Diving,"WANG, Feng",CHN,Men,synchronized diving 3m springboard,M,Gold
27202,Beijing,2008,Aquatics,Diving,"KUNAKOV, Yuriy",RUS,Men,synchronized diving 3m springboard,M,Silver
27203,Beijing,2008,Aquatics,Diving,"SAUTIN, Dmitry",RUS,Men,synchronized diving 3m springboard,M,Silver
...,...,...,...,...,...,...,...,...,...,...
29186,Beijing,2008,Wrestling,Wrestling Free.,"MUTALIMOV, Marid",KAZ,Men,96 - 120kg,M,Bronze
29187,Beijing,2008,Wrestling,Wrestling Free.,"TAYMAZOV, Artur",UZB,Men,96 - 120kg,M,Gold
29188,Beijing,2008,Wrestling,Wrestling Free.,"AKHMEDOV, Bakhtiyar",RUS,Men,96 - 120kg,M,Silver
29189,Beijing,2008,Wrestling,Wrestling Gre-R,"AMOYAN, Roman",ARM,Men,- 55kg,M,Bronze
29190,Beijing,2008,Wrestling,Wrestling Gre-R,"PARK, Eun-Chul",KOR,Men,- 55kg,M,Bronze
29191,Beijing,2008,Wrestling,Wrestling Gre-R,"MANKIEV, Nazyr",RUS,Men,- 55kg,M,Gold
29192,Beijing,2008,Wrestling,Wrestling Gre-R,"BAYRAMOV, Rovshan",AZE,Men,- 55kg,M,Silver
29193,Beijing,2008,Wrestling,Wrestling Gre-R,"TENGIZBAYEV, Nurbakyt",KAZ,Men,55 - 60kg,M,Bronze
29194,Beijing,2008,Wrestling,Wrestling Gre-R,"TIUMENBAEV, Ruslan",KGZ,Men,55 - 60kg,M,Bronze
29195,Beijing,2008,Wrestling,Wrestling Gre-R,"ALBIEV, Islam-Beka",RUS,Men,55 - 60kg,M,Gold
29196,Beijing,2008,Wrestling,Wrestling Gre-R,"RAHIMOV, Vitaliy",AZE,Men,55 - 60kg,M,Silver
29197,Beijing,2008,Wrestling,Wrestling Gre-R,"SIAMIONAU, Mikhail",BLR,Men,60 - 66kg,M,Bronze
29198,Beijing,2008,Wrestling,Wrestling Gre-R,"VARDANYAN, Armen",UKR,Men,60 - 66kg,M,Bronze
29199,Beijing,2008,Wrestling,Wrestling Gre-R,"GUENOT, Steeve",FRA,Men,60 - 66kg,M,Gold
29200,Beijing,2008,Wrestling,Wrestling Gre-R,"BEGALIEV, Kanatbek",KGZ,Men,60 - 66kg,M,Silver
29201,Beijing,2008,Wrestling,Wrestling Gre-R,"GUENOT, Christophe",FRA,Men,66 - 74kg,M,Bronze
29202,Beijing,2008,Wrestling,Wrestling Gre-R,"YANAKIEV, Yavor",BUL,Men,66 - 74kg,M,Bronze
29203,Beijing,2008,Wrestling,Wrestling Gre-R,"KVIRKELIA, Manuchar",GEO,Men,66 - 74kg,M,Gold
29204,Beijing,2008,Wrestling,Wrestling Gre-R,"CHANG, Yongxiang",CHN,Men,66 - 74kg,M,Silver
29205,Beijing,2008,Wrestling,Wrestling Gre-R,"AVLUCA, Nazmi",TUR,Men,74 - 84kg,M,Bronze
29206,Beijing,2008,Wrestling,Wrestling Gre-R,"MINGUZZI, Andrea",ITA,Men,74 - 84kg,M,Gold
29207,Beijing,2008,Wrestling,Wrestling Gre-R,"FODOR, Zoltan",HUN,Men,74 - 84kg,M,Silver
29208,Beijing,2008,Wrestling,Wrestling Gre-R,"MAMBETOV, Asset",KAZ,Men,84 - 96kg,M,Bronze
29209,Beijing,2008,Wrestling,Wrestling Gre-R,"WHEELER, Adam",USA,Men,84 - 96kg,M,Bronze
29210,Beijing,2008,Wrestling,Wrestling Gre-R,"KHUSHTOV, Aslanbek",RUS,Men,84 - 96kg,M,Gold
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [53]:
medal_2008 = _2008['NOC'].value_counts()

In [54]:
country['medal_2008'] = medal_2008

In [62]:

country[country['medal_2008'].isnull()]

,Country,ISO code,Country.1,medal_2008
Int Olympic Committee code,,,,
ALB,Albania,AL,Albania,NaN
ASA,American Samoa*,AS,American Samoa*,NaN
AND,Andorra,AD,Andorra,NaN
ANG,Angola,AO,Angola,NaN
ANT,Antigua and Barbuda,AG,Antigua and Barbuda,NaN
ARU,Aruba*,AW,Aruba*,NaN
BRN,Bahrain,BH,Bahrain,NaN
BAN,Bangladesh,BD,Bangladesh,NaN
BAR,Barbados,BB,Barbados,NaN
BIZ,Belize,BZ,Belize,NaN
BER,Bermuda*,BM,Bermuda*,NaN
BEN,Benin,BJ,Benin,NaN
BHU,Bhutan,BT,Bhutan,NaN
BOL,Bolivia,BO,Bolivia,NaN
BIH,Bosnia and Herzegovina,BA,Bosnia and Herzegovina,NaN
BOT,Botswana,BW,Botswana,NaN
IVB,British Virgin Islands,VG,British Virgin Islands,NaN
BRU,Brunei,BN,Brunei,NaN
BUR,Burkina Faso,BF,Burkina Faso,NaN
BDI,Burundi,BI,Burundi,NaN
CAM,Cambodia,KH,Cambodia,NaN
CPV,Cape Verde,CV,Cape Verde,NaN
CAY,Cayman Islands*,KY,Cayman Islands*,NaN
CAF,Central African Republic,CF,Central African Republic,NaN
CHA,Chad,TD,Chad,NaN
COM,Comoros,KM,Comoros,NaN
CGO,Congo,CG,Congo,NaN
COD,"Congo, Dem Rep",CD,"Congo, Dem Rep",NaN
COK,Cook Islands,CK,Cook Islands,NaN
CRC,Costa Rica,CR,Costa Rica,NaN
...,...,...,...,...
QAT,Qatar,QA,Qatar,NaN
ROM,Romania,RO,Romania,NaN
RWA,Rwanda,RW,Rwanda,NaN
SKN,Saint Kitts and Nevis,KN,Saint Kitts and Nevis,NaN
LCA,Saint Lucia,LC,Saint Lucia,NaN
VIN,Saint Vincent and the Grenadines,VC,Saint Vincent and the Grenadines,NaN
SAM,Samoa,WS,Samoa,NaN
SMR,San Marino,SM,San Marino,NaN
STP,Sao Tome and Principe,ST,Sao Tome and Principe,NaN
KSA,Saudi Arabia,SA,Saudi Arabia,NaN
SEN,Senegal,SN,Senegal,NaN
SCG,Serbia,RS,Serbia,NaN
SEY,Seychelles,SC,Seychelles,NaN
SLE,Sierra Leone,SL,Sierra Leone,NaN
SOL,Solomon Islands,SB,Solomon Islands,NaN
SOM,Somalia,SO,Somalia,NaN
SRI,Sri Lanka,LK,Sri Lanka,NaN
SUR,Suriname,SR,Suriname,NaN
SWZ,Swaziland,SZ,Swaziland,NaN
SYR,Syria,SY,Syria,NaN
TAN,Tanzania,TZ,Tanzania,NaN
TGA,Tonga,TO,Tonga,NaN
TKM,Turkmenistan,TM,Turkmenistan,NaN
UGA,Uganda,UG,Uganda,NaN
UAE,United Arab Emirates,AE,United Arab Emirates,NaN
URU,Uruguay,UY,Uruguay,NaN
VAN,Vanuatu,VU,Vanuatu,NaN
ISV,Virgin Islands*,VI,Virgin Islands*,NaN
YEM,Yemen,YE,Yemen,NaN
ZAM,Zambia,ZM,Zambia,NaN

# Groupby

# Practise

### Find Athlete named LEWIS, Carl 's last and latest medal winning year and his total number of medals

In [68]:
# dfi = oo.groupby('Athlete').agg({'LEWIS, Carl'})

In [76]:
dfi = oo[oo['Athlete'] == "LEWIS, Carl"]

In [83]:
dfi.groupby('Athlete').agg({'Edition':['min','max','count']})

            Edition
                min   max count
Athlete
LEWIS, Carl    1984  1996    10

In [77]:
dfi

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
16794,Los Angeles,1984,Athletics,Athletics,"LEWIS, Carl",USA,Men,100m,M,Gold
16813,Los Angeles,1984,Athletics,Athletics,"LEWIS, Carl",USA,Men,200m,M,Gold
16845,Los Angeles,1984,Athletics,Athletics,"LEWIS, Carl",USA,Men,4x100m relay,M,Gold
16927,Los Angeles,1984,Athletics,Athletics,"LEWIS, Carl",USA,Men,long jump,M,Gold
18284,Seoul,1988,Athletics,Athletics,"LEWIS, Carl",USA,Men,100m,M,Gold
18303,Seoul,1988,Athletics,Athletics,"LEWIS, Carl",USA,Men,200m,M,Silver
18417,Seoul,1988,Athletics,Athletics,"LEWIS, Carl",USA,Men,long jump,M,Gold
19909,Barcelona,1992,Athletics,Athletics,"LEWIS, Carl",USA,Men,4x100m relay,M,Gold
20004,Barcelona,1992,Athletics,Athletics,"LEWIS, Carl",USA,Men,long jump,M,Gold
21742,Atlanta,1996,Athletics,Athletics,"LEWIS, Carl",USA,Men,long jump,M,Gold

### Create a list showing the total number of medals won for each country over the history of the Olympics. For each country, include the year of the first and most recent Olympic medal wins.

In [88]:
dfi.groupby('NOC')

In [94]:
oo.groupby('NOC').agg({'Edition':['min','max','count']}).sort_values(by ='count')

KeyError: 'count'