# Assingnment - 1 (Advance Python 3)

In [ ]:
#   Run This code First

Name = input('Enter your name : ' )

### Q.1 :
    Write a program that accepts a comma separated sequence of numbers as input and prints the highest number from a list.   You must have to use lambda and reduce fuction.
    
Suppose the following input is supplied to the program:
##### 1,34,5,6,78





Then, the output should be:

##### 78

In [ ]:
# Write Q.1 Answer bellow

### Q.2 :
    Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters.
    
Suppose the following input is supplied to the program:
##### Hello world!


Then, the output should be:
##### UPPER CASE 1
##### LOWER CASE 9

In [ ]:
# Write Q.2 Answer bellow

### Q.3 :
    With a given integral number n, write a program to generate a dictionary that contains ( i, i^2 ) such that is an         integral number between 1 and n (both included). And then the program should print the dictionary.
    
Suppose the following input is supplied to the program:
###### 8


Then, the output should be:
###### {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
# Write Q.3 Answer bellow