In [1]:
# supervised (labled/known output)
        # If output label is continious then regression problem
        # If output label is categorical then classification problem
        

# unsupervised
# reinforcement

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [3]:
df = pd.read_csv('USA_Housing.csv')
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [12]:
X = df.iloc[ : , : -2]
y = df.iloc[: , -2]

In [13]:
df.shape

(5000, 7)

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train , X_test, y_train, y_test = train_test_split(X, y, test_size = .20, random_state = 42)

In [25]:
from sklearn.linear_model import LinearRegression

In [26]:
lm = LinearRegression()

lm.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [30]:
predictions = lm.predict(X_test)

In [ ]:
# y(a) = actual y value (y_test)
# y(p) = predicted y value (predictions)
# n = number of observation

# MAE - Mean Absolute Error
    # SUM([ | y(a) - y(p) | ]) / n

# MSE - Mean Squared Error
    # SUM([ {|y(a) - y(p)|} ^2  ]) / n

# RMSE - Root Mean Square Eorror
    # square root of ( SUM([ {|y(a) - y(p)|} ^2  ]) / n )

In [33]:
from sklearn import metrics

In [34]:
#MAE 
metrics.mean_absolute_error(y_test, predictions)

80879.09723487175

In [35]:
#MSE 
metrics.mean_squared_error(y_test, predictions)

10089009300.890957

In [36]:
#RMSE 
np.sqrt(metrics.mean_squared_error(y_test, predictions))

100444.06055556973

In [37]:
# R square / Coefficient of Determination
metrics.r2_score(y_test, predictions)

0.9179971706834578