In [2]:
height = input('What is your height ? : ')

# print(height)

What is your height ? : 6.5

In [16]:
height

'5.6'

In [8]:
print('How old are you?', end = ' ')
age = input()

How old are you?
45

In [14]:
height = int(input('What is your height ? : '))

# if height % 2 == 0:
#     print('even')
# else:
#     print('odd')


print('even' if height % 2 == 0 else 'odd')

What is your height ? : 67
odd

In [15]:
a = 'aaaaaaa'

len(a)

7

In [20]:
password = input('Enter Password : ')

if len(password) <= 6:
    print('Too short')
else:
    print('OK')

Enter Password : 123456
Too short

In [23]:
password = input('Enter Password : ')

if len(password) < 6:
    print('Too short')
elif len(password) > 6:
    print('Too long')
else:
    print('OK')

Enter Password : 123456
OK

In [27]:
password = input('Enter Password : ')

if (len(password) < 6) or (len(password) > 6):
    print('invalid')
else:
    print('OK')

Enter Password : 123456
OK

In [31]:
h = int(input('Enter height : '))

if (h % 2 == 0) and (h % 5 == 0):
    print('Divisible by 2 and 5')
else:
    print('not ok')

Enter height : 4
not ok

In [36]:
myl = list(range(1,6))

myl_1 = []

for i in myl:
    myl_1.append(i**2)
    
myl_1 

[<expression (i)> for i in collection]

[1, 4, 9, 16, 25]

In [41]:
[i**2 for i in myl]

[1, 4, 9, 16, 25]

In [40]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [ ]:
[<expression (i)> for i in collection if <condition>]

In [42]:
[i for i in range(1,11) if i%2 == 0]

[2, 4, 6, 8, 10]

In [43]:
l = []
for i in range(1,11):
    if i%2 == 0:
        l.append(i)

print(l)

[2, 4, 6, 8, 10]

[86.53999999999999, 84.74000000000001, 83.30000000000001, 80.6]

In [47]:
c=[1,2,3,4]

for i in c:
    print(i*(9/5) +32)

33.8
35.6
37.4
39.2

In [48]:


T(¬∞F) = T(¬∞C) √ó 9/5 + 32.

[86.53999999999999, 84.74, 83.3, 80.6]

In [49]:
cel = [30.3, 29.3, 28.5, 27]

fer = [i * (9/5) +32 for i in cel]

In [50]:
fer

[86.53999999999999, 84.74000000000001, 83.30000000000001, 80.6]

In [52]:
[(i * (9/5) +32) for i in [1,2,3,4]]

[33.8, 35.6, 37.4, 39.2]

In [ ]:
1 to 100, make a list who are divisible by 5 and 20

In [57]:
[res for res in range(1,101) if res % 5 == 0 and res % 20 == 0]

[20, 40, 60, 80, 100]

In [ ]:
A = {1, 2}
B = { 'x', 'y' }


A X B = {(1,x), (1,y), (2,x), (2,y)}

In [63]:
A = [1, 2]
B = ['x', 'y']


Cartesian_product = []

for i in A:
    for j in B:
       Cartesian_product.append((i,j))
    
Cartesian_product

[(1, 'x'), (1, 'y'), (2, 'x'), (2, 'y')]

In [64]:
[(i,j) for i in A for j in B]

[(1, 'x'), (1, 'y'), (2, 'x'), (2, 'y')]

In [ ]:
A =3
B = 4
C = 5

[(i,j,k)]


ùëé2+ùëè2=ùëê2

In [74]:
[(i,j,k) for i in range(1,31) for j in range(i,31) for k in range(j,31) if (i*i + j*j == k*k)]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (18, 24, 30),
 (20, 21, 29)]

In [87]:
# Bad practise

f = open('WorkingWithFile.txt', 'r')

text = f.read()

f.close()

for i in text.split('\n'):
    print(i)

Padma
Meghna
Jamuna
Surma
Madhumati
Rupsha
Ariyalkha
Brammaputra
Shitalakkha
Buriganga

In [93]:
# Good practise

try:
    with open('WorkingWithFile.txt', 'r') as f:
        text = f.read()
except FileNotFoundError:
    text = 'none'
    
text

'Padma\nMeghna\nJamuna\nSurma\nMadhumati\nRupsha\nAriyalkha\nBrammaputra\nShitalakkha\nBuriganga'

In [ ]:
'none'

In [96]:
with open('WorkingWithFile.txt', 'w') as f:
    f.write('Dhaka')
    f.write('Tangail')

In [104]:
with open(r'E:\Nitty-gritty of Data and Exploratory Analysis with Python 3\Class 2 (Advanced Python)\New folder\WorkingWithFile_1.txt', 'w') as f:
    print('Dhaka', file = f)
    print('Tangail', file = f)

In [ ]:
read
write
append

In [106]:
with open('WorkingWithFile.txt', 'a') as f:
    f.write('jossore\n')
    f.write('cumilla')

In [5]:
with open('Comma.csv', 'r') as f:
    text = f.read()
    
text.split('\n')

names = []
age = []

for i in text.split('\n'):
    names.append(i.split(',')[0])
    age.append(int(i.split(',')[1]))
    
print(names)    
print(age)

['jayanta', 'jony', 'rony']
[28, 35, 40]

In [13]:
# names
# age

with open('Smample.csv', 'w') as f:
    f.write('Name' + 'Age' + '\n')
    for i in range(0, len(names)):
        f.write(names[i] + str(age[i]) + '\n')